* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form {
  border: #ccc solid 1px;
  border-radius: 5px;
  padding: 1rem 2rem;
}

fieldset {
  border: none;
  margin: 0;
}

label {
  margin: 1rem 0;
  width: 10rem;
  display: inline-block;
  text-align: left;
}

input {
  padding: 0.3rem;
  border-radius: 3px;
  border: #ccc solid 1px;
}

button {
  margin: 1rem 0;
  width: 100%;
  padding: 0.5rem;
  background: #000;
  color: #fff;
  border: none;
  border-radius: 3px;
  text-transform: uppercase;
}
